:root {
  --blue:  #00619A;
  --light_blue: #1394E0;
  --gray: #4F4F4F;
  --light_gray: #C4C4C4;
}

*{
  margin: 0; 
  padding: 0;
}

body { 
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background: var(--blue);
}

.title {
  font-family: 'Archivo', sans-serif;
}

/*-------- BANNER --------*/

.Banner {
  width: 573px;
  height: 208px;
  
  margin-right: 88px;
  color: white;
}

.Banner img {
  display: inline-block;
}

.Banner .title {
  display: inline-block;
  position: relative;
  top: -21px;
  left: 20px;

  font-size: 5.75rem;
  font-weight: 600;
}

.Banner:not(.title){
  font-family: 'Roboto', sans-serif;
}

.Banner .subtitle {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.Banner .contact {
  font-size: 1rem;
}

/*-------- CONTAINER --------*/

.Container {
  width: 570px;
  height: 503px;

  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

/*-------- TABS --------*/

.nav_tabs {
  position: relative;
  height: 100%;
}

.nav_tabs ul {
  list-style: none;
}

.nav_tabs ul li {
  float: left; /* Lista "flutua" para a esquerda */
}

.nav_tabs label {
  display: block;
  width: 84px;
  height: 19px; 

  padding: 13px 15px;
  text-align: center;

  background: var(--light_gray);
  color: var(--blue);
  cursor: pointer;
}

label[for=tab1] {
  border-top-left-radius: 10px;
}

label[for=tab5] {
  border-top-right-radius: 10px;
}

.rd_tabs {
  display: none;
}

/*-------- TAB CONTENT --------*/

.content {
  display: none;

  position: absolute;
  left: 0; /*Abas fican no mesmo local*/
  height: 426px;

  margin-left: 41px;
  margin-top: 33px;
}

.content > * {
  font-weight: normal;
  font-style: normal;
}

.content header h1 {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-size: 29px;
}

.content header img {
  margin-left: 175px;
}

/*-------- FORMS --------*/

.content form > *{
  margin-top: 30px;
}

.content form input[type=radio] {
  margin-right: 7px;
}

.content form span{
  font-size: 19px;
}

.content form #Prof_Fun {
  margin-left: 15px;
}

.content form .input {
  display: block;

  position: relative;
  width: 346px;
  height: 44px;

  border: 1px solid var(--gray);
  border-radius: 10px;
}

.content form .input input {
  width: calc(100% - 10px);
  height: 100%;
  
  padding-left: 10px;
  font-size: 19px;
  border: 0;
  border-radius: 10px;

  color: var(--gray);
  background: none;
  outline: none;
}

.content form label {
  position: absolute;
  top: 0;

  font-size: 19px;

  background: none;
  color: var(--gray);
}

.content form button {  
  padding: 11px 41px;
  border-radius: 10px;
  border: none;

  font-size: 19px;
  cursor: pointer;
  outline: none;
}

.content form button[type="submit"] {
  background: var(--blue);
  color: white;
}

.content  #signUp {
  background: white;
  color: var(--blue);
  margin-left: 46px;
}

.content .util {
  display: flex;
  justify-content: space-between;

  width: 346px;
  margin-top: 30px;
}

.content .util a {
  font-size: 15px;
  text-decoration: none;
  color: var(--blue);
}

/*-------- TUTORIAL --------*/

.nav_tabs .tutorial {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
  top: 45px;

  width: 54px;
  height: calc(100% - 45px);  

  border-bottom-right-radius: 10px;
  text-decoration: none;
  background: var(--light_blue);
}

.nav_tabs .tutorial p {
  width: 18px;
  margin-top: -38px;

  font-size: 22px;
  text-align: center;
  overflow-wrap: break-word;

  color: white;
}

.nav_tabs .tutorial span {
  position: relative;
  top: 30px;
}

/*-------- INTERACTIONS --------*/

.rd_tabs:checked ~ label {
  background: white;
}

.rd_tabs:checked ~ .content {
  display: block; /* mudança de abas */
}